<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Flatiron School - Students</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag :application %>
</head>

<body>
<div id="page">
  <header id="header">
    <div class="center">
      <nav id="main-menu">
        <ul>
          <li class="site-title"><a href="index.html">Students @ Flatiron School</a></li>
        </ul>
        <ul>
          <li><a href="http://flatironschool.com">More about Our School</a></li>
        </ul>
      </nav>
      <div class="clear"></div>
    </div>
  </header>

  <section id="about" class="about-us content">
    <div class="center">
      <h1 id="intro" style="padding-top: 20px">
        Every story has heroes. We're 20 people on a journey to learn to love code.
      </h1>
      <!-- <h2 class="title"><span>The Heroes</span></h2> -->
      <div class="columns">

        <% @students.each_with_index do |student, index|  %>

        <div class="one_third <%= "last" if (index + 1) % 3 == 0 %>">
          <%= link_to( image_tag(student.image_url.gsub('images/', ''), :class => 'person'), student_path(student) ) %>
            <div class="name-position">
              <h2><%= link_to("#{student.first_name} #{student.last_name}", student_path(student)) %></h2>
              <div class="position"><%= student.tagline2 %></div>
            </div>
            <div class="clear"></div>
          </a>
          <p class="excerpt"><%= student.excerpt %></p>
        </div>

        <% end %>



        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <!-- /END .center-->
  </section>
  <!-- /END #about-us -->


   <section id="copyright" class="footer content">
    <div class="center">
      <p>&copy; 2012. All Your Rights Are Belong To Us.</p>
      <div class="clear"></div>
    </div>
  </section>
</div>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33578770-1']);
  _gaq.push(['_setDomainName', 'flatironschool.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!--/border-->
<div id="left-border"></div>
<div id="right-border"></div>
<div id="top-border"></div>
<div id="bottom-border"></div>
</body>
</html>
